*{
    margin:0;
    padding:0;
}
.bg{
    background:cover;
   
}
.login{
    float:right;
    border: 5px rebeccapurple;
    background-color:gainsboro;
    height:20em;
    margin-top:12%;
    margin-right:12%;
    padding-top:1.5%;    
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
}

.head{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login input{
    height:2%;
    width:100%;

}
.login #submit{
    width:100%;
    background-color: royalblue;

}
